/*RESET STYLE*/
a {
    color: inherit;
    text-decoration: none;
}

/*BASE STYLE*/
body {
    background-color: #F6F8FD;
    font-family: "Maven Pro", sans-serif;
    color: rgba(34, 34, 34);
    
}

.scrollspy-example {
    position: relative;
}

    /*TYPOGRAPHY*/
p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 500;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 500;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.3rem;
    line-height: 2.6rem;
    font-weight: 500;
}

.link {
    color: white;
}

@media only screen and (min-width: 768px) {
    p {
        font-size: 16px;
        line-height: 24px;
    }

    h1 {
        font-size: 3.3rem;
        line-height: 3.8rem;
    }

    h2 {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }
}

 /*HEADER*/
    
header {
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 1000;
    background-color: #F6F8FD;
}

.logo-img {
    height: 30px;
}

nav {
    gap: 2px !important;
}

.nav-link {
    color: rgba(34, 34, 34) !important;
    font-size: 10px !important;
  }

  .nav-link.active {
    color: #A4A4A4 !important;
  }

  @media only screen and (min-width: 768px) {
    .logo-img {
        height: 50px;
    }
    .nav-link {
        font-size: 16px !important;
      } 
}

.icon {
    color: rgba(34, 34, 34);
}

.icon:hover {
    color: #EDD382;
    transition: all 0.2s;
}

.block-btn {
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px solid #EDD382;
    background-color: #EDD382;
    border-radius: 100px;
}

.block-btn:hover {
    background-color: #C3AD6B;
    border: 1px solid #C3AD6B;


}


/*HERO*/

main {
    padding-top: 70px;
}

.highlight {
    font-weight: 300;
}

.work-looking {
    display: flex;
    align-items: center;
    gap: 16px;
}

.work-btn {
    text-transform: uppercase;
    color: rgba(34, 34, 34);

    .fa-circle {
        color: #4DF200;
    }
}

.selfie {
    max-width: 15rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.selfie:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/*BUTTONS*/  
.button-icon {
    padding-left: 4px;
}

.btn {
    text-transform: uppercase;
    font-family: "Maven Pro", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(34, 34, 34);
    padding:0px;
}

.btn:hover {
    .button-icon {
        padding-left: 16px;
    }
}

.yellow-btn:hover {
    color: #C3AD6B;
}

.yellow-btn:focus {
    outline: none;
    padding: 16px;
}

.green:hover {
    color: #676D59;
}

.light-green:hover {
    color: #A9C2A9;
}

.brown:hover {
    color: #9C7E61;
}

/*PROJECT */

.portfolio {
    border-top: solid rgba(34, 34, 34, 25%);
}

.website {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*EXPERIENCE SECTION*/
    
.skills-and-experience {
    padding-bottom: 40px;
    height: auto;
    //*background-color: #EDD382;*/
}

.skills-header {
    padding-top: 80px;
}

.skills-bubble {
    color: rgba(34, 34, 34);
    padding: 4px 16px;
    background-color: white;
}

.content-wrap {
    /*border-bottom: solid rgba(34, 34, 34, 25%);*/
    padding-top: 40px;
    padding-bottom: 8px;
}

.software {
    padding-top: 40px;

    h3 {
        padding-bottom: 16px;
    }
}

.soft-logo {
    padding-right: 24px;
}

@media only screen and (min-width: 768px) {

    .skills-and-experience, .portfolio {
        padding-left: 150px;
        padding-right: 150px;
    }

    .skills {
        padding-top: 80px;
    }

    .skills-header {
        position: sticky;
        align-self: flex-start;
        top: 0;
        z-index: 100;
    }

}

/* CONTACT */ 

.contact-container {
    border-bottom: solid rgba(34, 34, 34, 25%);
}





/* FOOTER */ 
footer, .contact {
    background-color: #EDD382;
}

@media only screen and (min-width: 768px) {
    .footer-desktop {
        margin-left: 138px;
        margin-right: 138px;
    }
}

.footer-icon {
    color: rgba(34, 34, 34);
}

.footer-icon:hover {
    color: white;
    transition: all 0.2s;
}

/* SCREEN SIZE */ 

@media only screen and (max-width: 768px) {
    .hero-content, .project, .skills-container,
    .contact-container {
        margin-left: 16px;
        margin-right:16px;
    }
}

@media only screen and (min-width: 768px) {

    .hero-content,
    .navbar {
        margin-left: 138px;
        margin-right: 138px;
    }

    .hero-content {
        padding-top: 32px;
    }

    .hero-p {
        width: 80%;
    }

    .btn {
        font-size: 16px;
    }

    .contact-container {
        max-width: 50%;
        margin:auto;}

}

